# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.log
venv/

# VSCode
.vscode/

# Test
test/in_zips/*
test/out_zips/*
test/wip/*
test/in_zips/.gitkeep
!test/out_zips/.gitkeep
!test/wip/.gitkeep

# Vendor large binaries (只保留空文件夹)
vendor/QuadRemesher1.3.0.3452/**
!vendor/QuadRemesher1.3.0.3452/
vendor/blender-4.5.3-windows-x64/**
!vendor/blender-4.5.3-windows-x64/

!.gitkeep

# OS files
.DS_Store
Thumbs.db